@charset "utf-8";

table,td,th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th {
    font-weight: bolder;
}

li a {
    color: red;
}

td > img {
    width: 250px;
    height: 250px;
}