<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        Nome: <input type="text" name="txtNome"><br>
        Email: <input type="email" name="txtEmail"><br>
        Senha: <input type="password" name="txtSenha"><br>
        Foto: <input type="file" name="txtFoto"><br>
        <input type="submit" name="Adicionar">
    </form>
</body>
</html>