<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <p>Seja bem-vindo a minha página inicial.</p>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
        </tr>
        <%for(usuario od Usuarios){%>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario._nome%></td>
            <td><%=usuario._email%></td>
            <td><%=usuario._foto%></td>
        </tr>
        <% } %>
    </table>
</body>
</html>