<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Novo post</h1>

<form action="/post/add" method="post" enctype="multipart/form-data">
  <label for="titulo">Título:</label>
  <input type="text" id="titulo" name="titulo" required>
  <br>
  <label for="texto">Texto:</label>
  <textarea id="texto" name="texto" required></textarea>
  <br>
  <label for="foto">Foto:</label>
  <input type="file" id="foto" name="foto" required>
  <br>
  <label for="usuario">Autor:</label>
  <select id="usuario" name="usuario" required>
    <% Usuarios.forEach(function(usuario){ %>
      <option value="<%= usuario._id %>"><%= usuario.nome %></option>
    <% }) %>
  </select>
  <br>
  <input type="submit" value="Publicar">
</form>
</body>
</html>