<%- include('../cabecalho.ejs') %>
    <main>
        <div class="button-links">
            <a href="/admin/usuario/add" class="button-link">Login</a>
            <a href="https://github.com/DedierJr" class="button-link" target="_blank">GitHub</a>
        </div>
    </main>
<%- include('../rodape.ejs') %>